*{
padding: 0;
margin: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
font-family: sans-serif;
}  

.contanier{
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contanier::before{
    content: '';
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #ff9dfe;
}
.contanier .box{
  position: relative;
  z-index: 10;
  height: 85vh;
  width: 75%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border: 3px solid #ff9dcf;
border-radius: 10px;
box-shadow: -15px 17px 17px rgba(10, 10,10, 0.15);
} 

.box nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 70px;
}
nav .logo {
    display: flex;
    align-items: center;
}
nav .logo h1 {
    color: #801f82;
    font-size: 45px;
   font-weight: bold;
   text-transform: uppercase;
}

nav ul li {
    display: inline-block;
    padding-left: 50px;
}
nav ul li a {
    color: #242424;
    font-size: 16px;
    font-weight: 600;
     text-transform: capitalize;
     transition: 0.3s;
}
nav ul li a:hover{
    color: #801f82;
}
 
.contact {
    margin-left: 8%;
    margin-top: 12%;
}
 .contact .imgs img {
    width: 300px;
 }
 .contact .imgs {
    width: 50%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left:60%;
    animation: cvvv 2s ease;
 }
 .text h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
 }
 .text h4 {
    color: #801f82;
    font-size: 24px;
    margin-bottom: 10px;
 }
 .text p {
    font-size: 18px;
    margin-bottom: 50px;
    color: #4f4f4f;
    width: 45%;
 }
 .btn {
    color: #fff;
    background-color: #801f82;
    border: 2px solid #801f82;
    border-radius: 5px;
    padding: 15px 20px;
    font-weight: bold;
 }
 .btn:hover{
    color: #801f82;
    transition: 0.3s;
    background-color: transparent;
 }
  .icons {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}
 
.icons i {
    color: #801f82;
    font-size: 25px;
    padding-top: 20px;
}
.icons i:hover{
    color: #ff9dcf;
}

@keyframes cvvv{

0%{
    top: 50%;
    transform: scale(0.8);
    opacity: 0;
}
100%{
    top: 0;
    transform: scale(1);
    opacity: 1;
}

}
 